*{
	margin: 0px;
	padding: 0px;
}

#cont-global{
	position: fixed;

	width: 100%;
	height: 100%;
	background-color: green;
}

#nav{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: blue;
}

#contenedor{
	position: relative;
	width: 100%;
	height: 700px;
	background-color: red;
}
